@{
    TempData["PathName"] = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col" id="Contact">
                @*<div class="col-inner">
                        <div class="row" id="row-474886118">
                            <div class="col medium-6 small-12 large-6">
                                <div class="col-inner">
                                    <div class="container section-title-container" style="margin-bottom:0px;">
                                        <h3 class="section-title section-title-normal"><b></b><span class="section-title-main">gấu sài gòn</span><b></b></h3>
                                    </div>
                                    <p>ĐC: 520/44/10A Quốc lộ 13, P. Hiệp Bình Phước, Q. Thủ Đức, HCM</p>
                                    <p>Hotline: 0981.663.276 &#8211; 0908.038.577</p>
                                    <p>Email: lyly@gausaigon.com</p>
                                </div>
                            </div>
                            <div class="col medium-6 small-12 large-6">
                                <div class="col-inner"></div>
                            </div>
                        </div>
                        <div class="row" id="row-2146028422">
                            <div class="col small-12 large-12">
                                <div class="col-inner">
                                    <p>
                                        <iframe onload="Wpfcll.r(this,true);" data-wpfc-original-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.558008431345!2d106.71838031418308!3d10.84509726088942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752877aa903c7d%3A0x6c3ade16d3522783!2zQ8O0bmcgVHkgVE5ISCBHaeG6o2kgUGjDoXAgTWluaCBIaeG7g24!5e0!3m2!1svi!2s!4v1516515699668" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</main>
<input type="hidden" id="contactContent" value="@ViewBag.Contact" />
<script>
    let contactContent = $('#contactContent').val();
    var lstdata = JSON.parse(contactContent);
    for (var i = 0; i < lstdata.length; i++) {
        $("#" + lstdata[i].Key).html(lstdata[i].Value);
    }
</script>