@{
    ViewBag.Title = "Quản lý đặt hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var lstAction = (List<int>)HttpContext.Current.Session["Action"];
}
<script src="~/AppJs/order.js"></script>

<link href="~/Scripts/datepicker.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Quản lý đặt hàng</h3>
            </div>
            <div class="row" style="margin-left:5px">
                <div class="col-md-2">
                    <select onchange="Order.loadData()" id="status" class="form-control">
                        <option value="0">-- Trạng thái --</option>
                        <option value="1">Chưa giao hàng</option>
                        <option value="2">Đã giao hàng</option>
                        <option value="3">Hủy giao hàng</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" id="customerName" class="form-control" placeholder="Tên khách hàng" />
                    <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                </div>
                <div class="form-group col-md-2">
                    <div class="input-group">
                        <input type="text" name="tuNgay" id="tuNgay" class="form-control datepicker-mask keyEnter" placeholder="Từ Ngày" data-mask="99/99/9999" />
                        <span id="spFromDate" title="Xóa trắng" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="input-group">
                        <input type="text" name="denNgay" id="denNgay" onchange="Order.validateDate(this.value)" class="form-control datepicker-mask keyEnter" placeholder="Đến Ngày" data-mask="99/99/9999" />
                        <span id="spToDate"  title="Xóa trắng" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div class="input-group">
                        <button id="btnSearch" onclick="Order.loadData()" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive" id="gridData">

                        </div>
                        <div class="col-md-12" id="paginationholder">
                            <ul id="pagination" class="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/datepicker.min.js"></script>
<script>
    $(document).ready(function () {
        $('.datepicker-mask').datepicker({
            language: 'vi',
            format: "dd/mm/yyyy",
            sideBySide: true
        });
    })
    document.getElementById('searchclear').onclick = function () {
        document.getElementById('customerName').value = '';
        Order.loadData();
    }
    document.getElementById('spFromDate').onclick = function () {
        document.getElementById('tuNgay').value = '';
        Order.loadData();
    }
    document.getElementById('spToDate').onclick = function () {
        document.getElementById('denNgay').value = '';
        Order.loadData();
    }
</script>