@{
    ViewBag.Title = "Quản lý nhóm thành viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var lstAction = (List<int>)HttpContext.Current.Session["Action"];
}
@using Web.Model.CustomModel
@model List<Web.Model.GroupCusUser>
<script src="~/AppJs/nhomthanhvien.js"></script>
@*@using (Ajax.BeginForm("Search", "GroupCustomer", null, new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "grouptv.onSearchSuccess",
}, new { @id = "frmSearch" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tìm kiếm</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input type="hidden" name="page" id="page" />
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="Tên danh mục">
                            </div>
                            <button type="submit" id="btnSearch" class="btn btn-purple waves-effect waves-light">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Danh sách nhóm thành viên</h3>
                <div style="top: 8px;position: absolute; right: 40px;" class="pull-right">
                    @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Add))
                    {
                        <button type="button" class="btn btn-primary waves-effect waves-light" onclick="grouptv.loadfrmAdd()"><i class="fa fa-plus"></i> Thêm mới</button>
                    }
                    <button type="button" class="btn btn-success waves-effect waves-light btn_sbmitforn"><i class="fa fa-plus"></i> Cập nhật vị trí</button>
                    @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Delete))
                    {
                        <button type="button" class="btn btn-danger waves-effect waves-light" onclick=" grouptv.onmultidelete() "><i class="fa fa-trash-o"></i> Xóa nhiều</button>
                    }
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            @using (Html.BeginForm("Update", "GroupCustomer", FormMethod.Post,new {@class="updateorder",id= "gridData" }))
                            {

                            }
                        </div>
                        <div class="col-md-12" id="paginationholder">
                            <ul id="pagination" class="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        grouptv.loadData(1);
        $('.btn_sbmitforn').click(function () {
            $('#gridData').submit();
        });
    });
</script>
