@using Web.Model

@model Tag
@using (Ajax.BeginForm("Edit", "Tag", null,
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "Tag.onEditSuccess"
                },
                new { @id = "frmData", @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="col-md-2 control-label">Tên thẻ tag <span class="asterisk"> (*)</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", onchange = "getLinkSeo()" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary waves-effect waves-light">Cập nhật</button>
        </div>
    </div>
    @Html.HiddenFor(x => x.LinkSeo)
}
<script src="~/Scripts/common.js"></script>
<script>

    function getLinkSeo() {
        let name = $('#Name').val();
        $('#LinkSeo').val(RemoveMarkStr(name));
    }
    $(document).ready(function () {
        $("#frmData").validate({
            rules:
            {
                Name:
                {
                    required: true,
                    maxlength: 250
                }

            },
            messages:
            {
                Name:
                {
                    required: "Vui lòng nhập tên thẻ tag"
                }
            },
            highlight: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            }
        });
    });
</script>