@{
    ViewBag.Title = "Quản lý nhóm người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var lstAction = (List<int>)HttpContext.Current.Session["Action"];
}
@using Web.Model.CustomModel
@model List<Web.Model.tbl_GroupUser>
<script src="~/AppJs/groupuser.js"></script>
@using (Ajax.BeginForm("Search", "GroupUser", null, new AjaxOptions
{
    HttpMethod = "Post",
    OnSuccess = "groupuser.onSearchSuccess",
}, new { @id = "frmSearch" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tìm kiếm</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4">
                                <input type="hidden" name="page" id="page" />
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="Tên nhóm quyền">
                                <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" id="btnSearch" class="btn btn-purple waves-effect waves-light">Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nhóm người dùng</h3>
                <div style="top: 8px;position: absolute; right: 40px;" class="pull-right">
                    @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Add))
                    {
                        <button type="button" class="btn btn-primary waves-effect waves-light" onclick="groupuser.loadfrmAdd()"><i class="fa fa-plus"></i> Thêm mới</button>
                    }
                    @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Delete))
                    {
                        <button type="button" class="btn btn-danger waves-effect waves-light" onclick=" groupuser.onmultidelete() "><i class="fa fa-trash-o"></i> Xóa nhiều</button>
                    }
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive" id="gridData">

                        </div>
                        <div class="col-md-12" id="paginationholder">
                            <ul id="pagination" class="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        groupuser.loadData(1);
        $('#searchclear').click(function () {
            $('#Name').val('');
            groupuser.loadData(1);
        })
    });
</script>
