@using Web.Model.CustomModel
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var lstAction = (List<int>)HttpContext.Current.Session["Action"];
}
<script src="~/AppJs/product.js"></script>
<div class="page-content-wrapper ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4 class="m-b-30 m-t-0" id="titleTable"></h4>
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-md-4">
                                <input type="text" id="txtSearch" class="form-control" placeholder="Tìm tên sản phẩm..."/>
                                <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" id="satatus" onchange="Product.loadData()">
                                    <option value="0">--- Trạng thái ---</option>
                                    <option value="1">Sản phẩm bán chạy</option>
                                    <option value="2">Sản phẩm tiêu biểu</option>
                                    <option value="3">Sản phẩm khuyến mãi</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button id="btnSearch" onclick="Product.loadData(0)" class="btn btn-primary">Tìm kiếm</button>
                            </div>
                            @if (lstAction != null && lstAction.Contains((int)EnumHelper.Action.Add))
                            {

                                <div class="col-md-2">
                                    <a style="float:right;margin-bottom:5px" href="/Admin/Product/Add" class="btn btn-primary">Thêm mới</a>
                                </div>
                            }
                        </div>
                        <div id="loadData" class="table-responsive row">

                        </div>
                        <div class="col-md-12">
                            <div style="width:50%;margin: 0 auto;" class="" id="paginationholder">
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('searchclear').onclick = function () {
        document.getElementById('txtSearch').value = '';
        Product.loadData(1);
    }
</script>

