@using Web.Model
@model  News
@{ 
    ViewBag.Title = "Thêm mới tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/AppJs/news.js"></script>
@using (Ajax.BeginForm("Add", "News", null,
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "News.onAddSuccess"
                },
                new { @id = "frmData", @class = "form-horizontal" }))
{
    <input type="hidden" name="close" id="close" value="" />
    <div class="form-group">
        <label class="control-label col-md-2">Tiêu đề<span class="asterisk"> (*)</span></label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Hình ảnh</label>
        <div class="col-md-10">
            <div class="col-md-2">
                @{ Html.RenderAction("UploadImage", "UploadFile", new { controlName = "Image" });}
            </div>
            <img src="" id="prevImages">
            <span class="error" id="spImg"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Mô tả ngắn<span class="asterisk"> (*)</span></label>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Desciption, new { @class = "form-control" ,@rows="3"})
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Nội dung<span class="asterisk"> (*)</span></label>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Contents, new { @class = "form-control" })
            <span  class="error" id="spcontent"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Trạng thái</label>
        <div class="col-md-4">
           <select class="form-control" id="Status" onchange="getUrl()" name="Status">
               <option value="1">Chưa đăng</option>
               <option value="2">Đăng bài</option>
               <option value="3">Đã đăng</option>
           </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Thẻ Tag</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Tags, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <a  id="backNews" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Quay trở lại</a>
            <button type="submit"  onclick="checkAdd('close')" id="btnsaveadd" class="btn btn-primary">Lưu và đóng</button>
            <button type="submit" onclick="checkAdd('continue')" id="btnsavecontinue" class="btn btn-primary">Lưu và thêm tiếp</button>
        </div>
    </div>
   }
<script src="~/Content/plugins/jquery-tag-it/js/jquery-ui.min.js"></script>
<script src="~/Content/plugins/ckeditor/ckeditor.js"></script>
<script src="~/Content/plugins/ckfinder/ckfinder.js"></script>
<script>
    $(document).ready(function () {
        $('#backNews').attr("href", "/admin/news?status=1");
        $('#fileUpload').on('change', function () {
            $('#spImg').text("");
        })
       
        $("#frmData").validate({
            rules:
            {
                CategoryId:
                {
                    required: true
                },
                MetaTitle:
                {
                    required: true,
                    maxlength: 250
                },
                Desciption:
                {
                    required: true,
                    maxlength: 500
                },
                Content:
                {
                    required: true
                }
            },
            messages:
            {
                CategoryId:
                {
                    required: "Vui lòng chọn danh mục tin"
                },
                MetaTitle:
                {
                    required: "Vui lòng nhập tiêu đề"
                },
                Desciption:
                 {
                     required: "Vui lòng nhập mô tả"
                 },
                Content:
                  {
                      required: "Vui lòng nhập nội dung"
                  }
            },
            highlight: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            }
        });
    })
    var editor = CKEDITOR.replace('Contents', {
        height: '350px',
        startupFocus: true,
        language: 'vi',
        filebrowserBrowseUrl: "/Content/plugins/ckfinder/ckfinder.html",
        filebrowserImageBrowseUrl: '/Content/plugins/ckfinder/ckfinder.html?Type=Images',
        filebrowserFlashBrowseUrl: '/Content/plugins/ckfinder/ckfinder.html?Type=Flash',
        filebrowserUploadUrl: '/Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
        filebrowserImageUploadUrl: '/Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
        filebrowserFlashUploadUrl: '/Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash'
    });
    editor.on('change', function () {
        $("#spcontent").text('');
    })
    function getUrl() {
        let status = $('#Status').val();
        let url = "/admin/news?status=" + status
        $('#backNews').attr("href", url)
    }
  
    function checkAdd(state) {
        $('#close').val(state);
        var messageLength = CKEDITOR.instances['Contents'].getData().replace(/<[^>]*>/gi, '').length;
        if (!messageLength) {
            $("#spcontent").text("Vui lòng thêm nội dung bài viết");
            return false;
        }
    }

</script>
