@using Web.Model
@model Web.Model.UserAdmin
@using (Ajax.BeginForm("ResetPassword", "Account", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "account.onResetSuccess"
    },
    new { @id = "basicForm", @class = "form-horizontal" }))
{
    @Html.HiddenFor(g=>g.ID)
    <div class="form-group">
        <label class="col-md-3 control-label">Mật khẩu mới</label>
        <div class="col-md-9">
            <input type="password" name="password" id="password" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Nhập lại mật khẩu</label>
        <div class="col-md-9">
            <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" />
        </div>
    </div>
    <div class="col-md-9 pull-right pl0">
        <button type="submit" class="btn btn-primary waves-effect waves-light">Reset mật khẩu</button>
    </div>
}
<script>
    // Basic Form
    $(document).ready(function () {
        $("#basicForm").validate({
            rules:
            {
                password:
                {
                    required: true,
                    minlength: 6,
                },
                confirmpassword:
                {
                    required: true,
                    minlength: 6,
                    equalTo: "#password"
                }
            },
            messages:
            {
                password:
                {
                    required: "Chưa nhập mật khẩu",
                    minlength: "Mật khẩu tối thiểu 6 ký tự",
                },
                confirmpassword:
                {
                    required: "Chưa nhập lại mật khẩu",
                    minlength: "Mật khẩu tối thiểu 6 ký tự",
                    equalTo: "Mật khẩu nhập vào không khớp"
                }
            }
        });
    });
</script>