<div class="info-top-grid">
    <div class="info-contact-agile">
        <ul>
            <li>
                <span class="fas fa-phone-volume"></span>
                <p>+(000)123 4565 32</p>
            </li>
            <li>
                <span class="fas fa-envelope"></span>
                <p><a href="mailto:info@example.com">info@example1.com</a></p>
            </li>
            <li>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="hedder-up row">
        <div class="col-lg-3 col-md-3 logo-head">
            <h1><a class="navbar-brand" href="/home">Led-Shop</a></h1>
        </div>
        <div class="col-lg-5 col-md-6 search-right">
            <form class="form-inline my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn" type="submit">Search</button>
            </form>
        </div>
        <div class="col-lg-4 col-md-3 right-side-cart">
            <div class="cart-icons">
                <ul>
                    <li>
                        <span class="far fa-heart"></span>
                    </li>
                    <li>
                        <button type="button" data-toggle="modal" data-target="#exampleModal"> <span class="far fa-user"></span></button>
                    </li>
                    <li class="toyscart toyscart2 cart cart box_1">
                        <form action="#" method="post" class="last">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="display" value="1">
                            <button class="top_toys_cart" type="submit" name="submit" value="">
                                <span class="fas fa-cart-arrow-down"></span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
