<main id="main" class="">
    <div id="content" role="main" class="content-area">
        <section class="section" id="section_2050005842">
            <div class="bg section-bg fill bg-fill bg-loaded">
                <div class="effect-sliding-glass bg-effect fill no-click"></div>
            </div>
            <div class="section-content relative">
                <div class="slider-wrapper relative" id="slider-438744610">
                    <div class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal"
                         data-flickity-options='{"cellAlign":"center","imagesLoaded": true,"lazyLoad": 1,"freeScroll": false,"wrapAround": true,"autoPlay": 5000,"pauseAutoPlayOnHover" : false,"prevNextButtons": true,"contain" : true,"adaptiveHeight" : true,"dragThreshold" : 10,"percentPosition": true,"pageDots": true,"rightToLeft": false,"draggable": true,"selectedAttraction": 0.1,"parallax" : 0,"friction": 0.6 }'>
                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_310829362">
                            <div class="img-inner dark">
                                <img width="1366" height="512"
                                     src="wp-content/uploads/2018/01/gau-teddy-1.jpg"
                                     class="attachment-original size-original" alt="gau-teddy-1"
                                     srcset="https://gausaigon.com/wp-content/uploads/2018/01/gau-teddy-1.jpg 1366w, https://gausaigon.com/wp-content/uploads/2018/01/gau-teddy-1-300x112.jpg 300w, https://gausaigon.com/wp-content/uploads/2018/01/gau-teddy-1-768x288.jpg 768w, https://gausaigon.com/wp-content/uploads/2018/01/gau-teddy-1-1024x384.jpg 1024w"
                                     sizes="(max-width: 1366px) 100vw, 1366px" />
                            </div>
                            <style scope="scope">
                                #image_310829362 {
                                width: 100%;
                                }
                            </style>
                        </div>
                    </div>
                    <div class="loading-spin dark large centered"></div>
                    <style scope="scope">
                    </style>
                </div>
            </div>
            <style scope="scope">
                #section_2050005842 {
                padding-top: 0px;
                padding-bottom: 0px;
                }
            </style>
        </section>
        <section class="section" id="section_1739386261">
            <div class="bg section-bg fill bg-fill bg-loaded"></div>
            <div class="section-content relative">
                <div class="row row-small row-divided" id="row-1466323874">
                    <div class="col medium-3 small-6 large-3">
                        <div class="col-inner">
                            <div class="icon-box featured-box icon-box-center text-center">
                                <div class="icon-box-img" style="width: 90px">
                                    <div class="icon">
                                        <div class="icon-inner" style="color:rgb(12, 186, 160);">
                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                            <svg version="1.1"
                                                 id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 488.8 488.8"
                                                 style="enable-background:new 0 0 488.8 488.8;"
                                                 xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M467.3,172.1c-13.2-14.3-32-22.2-52.9-22.2h-50.3v-27.2c0-6.6-5.4-12-12-12H112.5c-6.6,0-12,5.4-12,12v41.8H53.8 c-6.6,0-12,5.4-12,12s5.4,12,12,12h58.4c0.1,0,0.2,0,0.3,0c0,0,0,0,0.1,0c6.6,0,12-5.4,12-12v-41.8h215.6v27.2v160.9h-113 c-0.5,0-1,0-1.5,0.1c-6-14.8-20.5-25.3-37.4-25.3c-17,0-31.5,10.6-37.4,25.5c-0.9-0.2-1.7-0.3-2.6-0.3h-23.7v-41.9 c0-6.6-5.4-12-12-12c-0.2,0-0.4,0-0.6,0s-0.3,0-0.5,0H53.8c-6.6,0-12,5.4-12,12s5.4,12,12,12h46.7v41.8c0,6.6,5.4,12,12,12h35.7 c0.3,0,0.5,0,0.8,0c4,18,20.1,31.4,39.3,31.4s35.2-13.4,39.3-31.4h124.6h19.2c4.1,17.9,20.1,31.4,39.3,31.4s35.2-13.4,39.3-31.4 h26.8c6.6,0,12-5.4,12-12V235C488.8,209.1,481.3,187.3,467.3,172.1z M188.3,354.2c-9,0-16.3-7.3-16.3-16.3s7.3-16.3,16.3-16.3 s16.3,7.3,16.3,16.3C204.6,346.9,197.3,354.2,188.3,354.2z M410.7,354.2c-9,0-16.3-7.3-16.3-16.3s7.3-16.3,16.3-16.3 s16.3,7.3,16.3,16.3C426.9,346.9,419.6,354.2,410.7,354.2z M464.8,322.8H448c-6-14.7-20.5-25.2-37.3-25.2s-31.3,10.4-37.3,25.2 h-9.2V173.9h50.3c31.5,0,50.3,22.9,50.3,61.2V322.8z" />

                                            <path d="M206.1,251.2c-4.7,4.7-4.7,12.3,0,17c2.3,2.3,5.4,3.5,8.5,3.5s6.1-1.2,8.5-3.5l30.9-30.9l0.1-0.1c0.2-0.3,0.5-0.5,0.7-0.8 c0.1-0.2,0.2-0.3,0.3-0.5c0.1-0.2,0.2-0.3,0.4-0.5c0.1-0.2,0.2-0.4,0.3-0.6c0.1-0.2,0.2-0.3,0.3-0.5c0.1-0.2,0.2-0.4,0.3-0.6 c0.1-0.2,0.2-0.3,0.2-0.5c0.1-0.2,0.1-0.4,0.2-0.6c0.1-0.2,0.1-0.4,0.2-0.5c0.1-0.2,0.1-0.4,0.1-0.6c0-0.2,0.1-0.4,0.1-0.6 c0-0.2,0.1-0.4,0.1-0.7c0-0.2,0.1-0.3,0.1-0.5c0.1-0.8,0.1-1.6,0-2.4c0-0.2,0-0.3-0.1-0.5c0-0.2-0.1-0.4-0.1-0.7 c0-0.2-0.1-0.4-0.1-0.6c0-0.2-0.1-0.4-0.1-0.6c-0.1-0.2-0.1-0.4-0.2-0.5c-0.1-0.2-0.1-0.4-0.2-0.6c-0.1-0.2-0.2-0.3-0.2-0.5 c-0.1-0.2-0.2-0.4-0.3-0.6c-0.1-0.2-0.2-0.3-0.3-0.5c-0.1-0.2-0.2-0.4-0.3-0.6c-0.1-0.2-0.2-0.3-0.4-0.5c-0.1-0.2-0.2-0.3-0.3-0.5 c-0.2-0.3-0.5-0.5-0.7-0.8l-0.1-0.1l-29.4-29.4c-4.7-4.7-12.3-4.7-17,0s-4.7,12.3,0,17l8.9,8.9H12c-6.6,0-12,5.4-12,12 s5.4,12,12,12h204.4L206.1,251.2z" />

                                                            </g>
                                                        </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                                    </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-text last-reset">
                                    <h3 class="title-service" style="text-align: center;">
                                        <strong>
                                            GIAO HÀNG TẬN
                                            NHÀ
                                        </strong>
                                    </h3>
                                    <div class="content-service" style="text-align: center;">
                                        Dịch vụ giao hàng
                                        và tặng quà tận nhà trên toàn quốc
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col medium-3 small-6 large-3">
                        <div class="col-inner">
                            <div class="icon-box featured-box icon-box-center text-center">
                                <div class="icon-box-img" style="width: 90px">
                                    <div class="icon">
                                        <div class="icon-inner" style="color:rgb(12, 186, 160);">
                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                            <!DOCTYPE svg
                                                      PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="511.624px" height="511.623px"
                                                 viewBox="0 0 511.624 511.623"
                                                 style="enable-background:new 0 0 511.624 511.623;"
                                                 xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M9.135,200.996h392.862v54.818c0,2.475,0.9,4.613,2.707,6.424c1.811,1.81,3.953,2.713,6.427,2.713 c2.666,0,4.856-0.855,6.563-2.569l91.365-91.362c1.707-1.713,2.563-3.903,2.563-6.565c0-2.667-0.856-4.858-2.57-6.567 l-91.07-91.078c-2.286-1.906-4.572-2.856-6.858-2.856c-2.662,0-4.853,0.856-6.563,2.568c-1.711,1.715-2.566,3.901-2.566,6.567 v54.818H9.135c-2.474,0-4.615,0.903-6.423,2.712S0,134.568,0,137.042v54.818c0,2.474,0.903,4.615,2.712,6.423 S6.661,200.996,9.135,200.996z" />

                                            <path d="M502.49,310.637H109.632v-54.82c0-2.474-0.905-4.615-2.712-6.423c-1.809-1.809-3.951-2.712-6.424-2.712 c-2.667,0-4.854,0.856-6.567,2.568L2.568,340.607C0.859,342.325,0,344.509,0,347.179c0,2.471,0.855,4.568,2.568,6.275 l91.077,91.365c2.285,1.902,4.569,2.851,6.854,2.851c2.473,0,4.615-0.903,6.423-2.707c1.807-1.813,2.712-3.949,2.712-6.427V383.72 H502.49c2.478,0,4.613-0.899,6.427-2.71c1.807-1.811,2.707-3.949,2.707-6.427v-54.816c0-2.475-0.903-4.613-2.707-6.42 C507.103,311.54,504.967,310.637,502.49,310.637z" />

                                                            </g>
                                                        </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                                    </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-text last-reset">
                                    <h3 class="title-service">ĐỔI TRẢ HÀNG</h3>
                                    <p class="title-service">Được đổi trả sản phẩm khác trong vòng 30 ngày</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col medium-3 small-6 large-3">
                        <div class="col-inner">
                            <div class="icon-box featured-box icon-box-center text-center">
                                <div class="icon-box-img" style="width: 90px">
                                    <div class="icon">
                                        <div class="icon-inner" style="color:rgb(12, 186, 160);">
                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                            <svg version="1.1"
                                                 id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 354.796 354.796"
                                                 style="enable-background:new 0 0 354.796 354.796;"
                                                 xml:space="preserve">
                                            <g>
                                            <g id="Layer_5_58_">
                                            <g>
                                            <g>
                                            <path d="M265.442,109.092c-10.602-4.25-13.665-6.82-13.665-11.461c0-3.714,2.813-8.053,10.744-8.053 c7.015,0,12.395,2.766,12.443,2.79c0.566,0.302,1.201,0.463,1.83,0.463c1.535,0,2.893-0.929,3.456-2.367l1.927-4.926 c0.671-1.795-0.347-3.359-1.645-3.92c-4.319-1.88-12.76-3.335-12.846-3.35c-0.136-0.024-0.609-0.125-0.609-0.678l-0.027-7.146 c0-2.152-1.797-3.904-4.003-3.904h-3.457c-2.204,0-4,1.751-4,3.905l0.009,7.513c0,0.576-0.624,0.826-0.852,0.879 c-10.655,2.538-17.314,10.343-17.314,20.188c0,12.273,10.145,17.819,21.099,21.982c8.757,3.438,12.329,6.924,12.329,12.037 c0,5.564-5.059,9.45-12.307,9.45c-6.189,0-14.565-3.923-14.648-3.963c-0.536-0.254-1.104-0.382-1.688-0.382 c-1.594,0-2.982,0.964-3.537,2.457l-1.84,4.982c-0.654,1.86,0.353,3.37,1.642,4.042c5.144,2.679,15.098,4.249,15.541,4.318 c0.119,0.017,0.725,0.23,0.725,0.784v7.48c0,2.152,1.797,3.904,4.004,3.904h3.572c2.208,0,4.005-1.751,4.005-3.904v-7.872 c0-0.736,0.543-0.801,0.655-0.828c11.351-2.55,18.343-10.855,18.343-21.283C285.325,121.518,279.377,114.597,265.442,109.092z" />

                                            <path d="M260.979,22.509c-51.816,0-93.818,42.005-93.818,93.818c0,51.814,42.002,93.82,93.818,93.82 c51.814,0,93.817-42.006,93.817-93.82C354.796,64.514,312.793,22.509,260.979,22.509z M260.979,188.404 c-39.808,0-72.076-32.271-72.076-72.076s32.268-72.075,72.076-72.075c39.806,0,72.073,32.27,72.073,72.075 S300.785,188.404,260.979,188.404z" />

                                                                    </g>
                                            <g>
                                            <path d="M335.733,255.61c-19.95,11.011-47.389,21.192-74.753,25.484c-24.346,3.818-70.148-5.39-70.148-16.265 c0-4.121,40.17,10.154,64.469,3.671c18.633-4.971,15.988-22.401,5.853-24.7c-10.076-2.287-69.108-23.913-94.323-24.659 c-11.878-0.351-41.203,4.131-55.393,6.442c-4.861,0.791-7.909,0.704-8.213,5.356c-1.412,21.62-4.195,65.832-5.712,88.926 c-0.032,0.488,0.646,7.05,6.061,2.432c5.927-5.054,14.24-10.656,21.929-8.912c12.063,2.737,116.424,21.856,130.819,18.51 c20.593-4.787,78.888-39.334,90.065-50.072C363.711,265.176,350.244,247.601,335.733,255.61z" />

                                            <path d="M74.426,224.74l-54.672-2.694c-4.221-0.208-8.532,2.973-9.581,7.066l-9.941,90.255c-1.048,4.094,1.55,7.578,5.773,7.741 l60.59-0.006c4.224,0.163,7.942-3.151,8.266-7.365l6.654-86.958C81.837,228.566,78.647,224.948,74.426,224.74z M42.24,315.145 c-8.349,0-15.116-6.768-15.116-15.116c0-8.349,6.768-15.116,15.116-15.116s15.116,6.768,15.116,15.116 C57.356,308.378,50.589,315.145,42.24,315.145z" />

                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                                    </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-text last-reset">
                                    <h3 class="title-service">GIAO HÀNG NHẬN TIỀN</h3>
                                    <div class="content-service">
                                        Thanh toán đơn hàng bằng hình thức trực tiếp
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col medium-3 small-6 large-3">
                        <div class="col-inner">
                            <div class="icon-box featured-box icon-box-center text-center">
                                <div class="icon-box-img" style="width: 90px">
                                    <div class="icon">
                                        <div class="icon-inner" style="color:rgb(12, 186, 160);">
                                            <?xml version="1.0" encoding="iso-8859-1" ?>
                                            <svg version="1.1"
                                                 id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 473.806 473.806"
                                                 style="enable-background:new 0 0 473.806 473.806;"
                                                 xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4 c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8 c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6 c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5 c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26 c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9 c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806 C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20 c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6 c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1 c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3 c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5 c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8 c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9 l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1 C420.456,377.706,420.456,388.206,410.256,398.806z" />

                                            <path d="M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2 c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11 S248.656,111.506,256.056,112.706z" />

                                            <path d="M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11 c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2 c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z" />

                                                            </g>
                                                        </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                            <g> </g>
                                                    </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-text last-reset">
                                    <h3 class="title-service" style="text-align: center;">ĐẶT HÀNG ONLINE</h3>
                                    <div class="content-service" style="text-align: center;">0981.663.276</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <style scope="scope">
                    </style>
                </div>
            </div>
            <style scope="scope">
                #section_1739386261 {
                padding-top: 30px;
                padding-bottom: 30px;
                }
            </style>
        </section>
        <section class="section" id="section_1468190488">
            <div class="bg section-bg fill bg-fill bg-loaded"></div>
            <div class="section-content relative">
                <div class="row row-small align-middle align-center" id="row-46697655">
                    <div class="col small-12 large-12">
                        <div class="col-inner text-center">
                            <div class="container section-title-container" style="margin-bottom:5px;">
                                <h2 class="section-title section-title-bold-center">
                                    <b></b><span class="section-title-main" style="color:rgb(255, 0, 0);">
                                        <i class="icon-gift"></i>GẤU TEDDY 2021
                                    </span><b></b>
                                </h2>
                            </div>
                            @{ Html.RenderAction("RepresentProduct", "Product");}
                            <a href="/san-pham.html" target="_self"
                               class="button primary box-shadow-2 box-shadow-3-hover">
                                <span>Xem thêm</span>
                            </a>
                        </div>
                    </div>
                    <style scope="scope">
                    </style>
                </div>
            </div>
            <style scope="scope">
                #section_1468190488 {
                padding-top: 30px;
                padding-bottom: 30px;
                }
            </style>
        </section>
    </div>
</main>