@model Web.Model.Logo
@if (Model != null)
{
    <div class="logo-svn pull-left">
        <a href="/" class="logo_h logo_h__img">
            <img class="img-responsive" src="@Model.Image" alt="Shop quà tặng" title="Quà tặng bạn gái, quà tặng người yêu">
        </a>
    </div>
}

