@model Web.Model.About
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/AppJs/about.js"></script>
@using (Ajax.BeginForm("Edit", "About", null,
                                                    new AjaxOptions
                                                    {
                                                        HttpMethod = "POST",
                                                        OnSuccess = "about.onAddSuccess"
                                                    },
                                                    new { @id = "frmData", @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.ID)
    <div class="form-group">
        <label class="control-label col-md-2">Tiêu đề</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Nội dung<span class="asterisk"> (*)</span></label>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Contents, new { @class = "form-control" })
            <span class="error" id="spcontent"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <a href="/Admin/About" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Quay trở lại</a>
            <button type="submit" onclick="checkAdd('close')" id="btnsaveadd" class="btn btn-primary">Lưu và đóng</button>
        </div>
    </div>
}
<script src="~/Content/plugins/ckeditor/ckeditor.js"></script>
<script src="~/Content/plugins/ckfinder/ckfinder.js"></script>
<script>
    $(document).ready(function () {
        $("#frmData").validate({
            rules:
            {
                Contents:
                {
                    required: true
                }
            },
            messages:
            {
                Contents:
                {
                    required: "Vui lòng nhập nội dung"
                }
            },
            highlight: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            }
        });
    })
    var editor = CKEDITOR.replace('Contents', {
        height: '350px',
        startupFocus: true,
        language: 'vi',
        filebrowserBrowseUrl: "/Content/plugins/ckfinder/ckfinder.html",
        filebrowserImageBrowseUrl: '/Content/plugins/ckfinder/ckfinder.html?Type=Images',
        filebrowserFlashBrowseUrl: '/Content/plugins/ckfinder/ckfinder.html?Type=Flash',
        filebrowserUploadUrl: '/Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
        filebrowserImageUploadUrl: '/Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
        filebrowserFlashUploadUrl: '/Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash'
    });
    editor.on('change', function () {
        $("#spcontent").text('');
    })
    function checkAdd(state) {
        $('#close').val(state);
        var messageLength = CKEDITOR.instances['Contents'].getData().replace(/<[^>]*>/gi, '').length;
        if (!messageLength) {
            $("#spcontent").text("Vui lòng thêm nội dung bài viết");
            return false;
        }
    }

</script>
