@using Web.Model
@model List<News>
@{
    ViewBag.Title = "Hệ thống tiếp nhận phản ánh kiến nghị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var rowUser = (UserAdmin)ViewBag.rowUser;
}
<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">Xin chào, @rowUser.FullName !</h4>
       
    </div>
</div>