@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="~/AppJs/newsHome.js"></script>
<div class="tin-tuc-svn-page" id="category_news">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title" id="titleCate"></div>
        </div>
        <div class="panel-body" id="loadData">
          
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.LinkSeo" id="linkseo" />
