@using Web.Model
@model  Instruction
@{ 
    ViewBag.Title = "Thêm hướng dẫn mua hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    
}
<script src="~/AppJs/instruction.js"></script>
@using (Ajax.BeginForm("Add", "Instruction", null,
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "instruction.onAddSuccess"
                },
                new { @id = "frmData", @class = "form-horizontal" }))
{
    <input type="hidden" name="close" id="close" value="" />
    <div class="form-group">
        <label class="control-label col-md-2">Tiêu đề<span class="asterisk"> (*)</span></label>
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Mô tả ngắn</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Nội dung<span class="asterisk"> (*)</span></label>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Contents, new { @class = "form-control", @rows = "7" })
            <span  class="error" id="spcontent"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <a  href="/Admin/Instruction" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Quay trở lại</a>
            <button type="submit"  onclick="checkAdd('close')" id="btnsaveadd" class="btn btn-primary">Thêm mới</button>
        </div>
    </div>
   }
<script src="~/Content/plugins/jquery-tag-it/js/jquery-ui.min.js"></script>
<script src="~/Content/plugins/ckeditor/ckeditor.js"></script>
<script src="~/Content/plugins/ckfinder/ckfinder.js"></script>
<script>
    $(document).ready(function () {
        $('#fileUpload').on('change', function () {
            $('#spImg').text("");
        })
       
        $("#frmData").validate({
            rules:
            {
               Title:
                {
                    required: true,
                    maxlength: 500
                }
            },
            messages:
            {
                Title:
                {
                    required: "Vui lòng nhập tiêu đề"
                }
            },
            highlight: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            }
        });
    })
    var editor = CKEDITOR.replace('Contents', {
        height: '350px',
        startupFocus: true,
        language: 'vi',
        filebrowserBrowseUrl: "/Content/plugins/ckfinder/ckfinder.html",
        filebrowserImageBrowseUrl: '/Content/plugins/ckfinder/ckfinder.html?Type=Images',
        filebrowserFlashBrowseUrl: '/Content/plugins/ckfinder/ckfinder.html?Type=Flash',
        filebrowserUploadUrl: '/Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
        filebrowserImageUploadUrl: '/Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
        filebrowserFlashUploadUrl: '/Scripts/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash'
    });
    editor.on('change', function () {
        $("#spcontent").text('');
    })
    function getUrl() {
        let status = $('#Status').val();
        let url = "/admin/news?status=" + status
        $('#backNews').attr("href", url)
    }
  
    function checkAdd(state) {
        $('#close').val(state);
        var messageLength = CKEDITOR.instances['Contents'].getData().replace(/<[^>]*>/gi, '').length;
        if (!messageLength) {
            $("#spcontent").text("Vui lòng thêm nội dung bài viết");
            return false;
        }
    }

</script>
