@model Web.Model.Instruction

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Tiêu đề:</label>
        <div class="col-md-10">
            <p style="margin-top:7px">@Model.Title</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Mô tả:</label>
        <div class="col-md-10">
            <p style="margin-top:7px">@Model.Description</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Nội dung:</label>
        <div id="detail" class="col-sm-10">
            <p>@Html.Raw(Model.Contents)</p>
        </div>
    </div>
</div>
